<footer id="footer" class="flex flexRow justifySpaceAround alignCenter">
    <p class="txt-white">
        Tout droits réservés 2020
    </p>
    <h3>
        <a class="txt-white" href="#">
            <i class="fab fa-facebook"></i>
        </a>
        <a class="txt-white" href="#">
            <i class="fab fa-instagram"></i>
        </a>
        <a class="txt-white" href="#">
            <i class="fab fa-google-plus-g"></i>
        </a>
        <a class="txt-white" href="#">
            <i class="fab fa-twitter"></i>
        </a>
    </h3>
</footer>
