{% extends 'base.html.twig' %}

{% block title %}Au tracteur | home{% endblock %}

{% block body %}
    <div id="blockHead">
        <div class="ctn">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <h1 class="txt-white">
                        Au tracteur
                    </h1>
                    <h2 class="txt-white">
                        Consommez local !
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-dark padding">
        <h3 class="col-12 txt-center txt-white">
            A vos fourches !
        </h3>
        <div class="col-12 txt-center txt-white">
            Au tracteur vous permet de donner un coup de main à la ferme, autour de chez vous en échange de bons produits frais...
        </div>
    </div>
    <div class="ctn">
        <div class="row mt mb">
            <h3 class="col-4">
                Envie de découvrir les producteurs autour de chez vous ?
            </h3>
            <div class="col-8">
                Vous connaissez le Woofing ? Participer aux travaux à la ferme en échange du gîte et du couvert partout dans le monde ?!
                Vous connaissez les AMAP ? Des coopératives de fermes qui proposent chaque semaine des produits locaux ?
                Au tracteur, c'est un peu des deux !
            </div>

        </div>
    </div>

    <div id="blocLinks">
        <div class="row">
            <div class="col-3 link">
                <a href="{{ path('findFarm') }}">
                    <img src="{{ asset('build/images/farm.jpg') }}">
                    <h4 class="link-head">Trouvez une ferme</h4>
                </a>
            </div>
            <div class="col-3 link">
                <a href="{{ path('findMission') }}">
                    <img src="{{ asset('build/images/farmer.jpg') }}">
                    <h4 class="link-head">Participez à des missions</h4>
                </a>
            </div>
            <div class="col-3 link">
                <a href="{{ path('findProduct') }}">
                    <img src="{{ asset('build/images/spinach.jpg') }}">
                    <h4 class="link-head">Découvrez les produits locaux</h4>
                </a>
            </div>
            <div class="col-3 link">
                <a href="{{ path('app_login') }}">
                    <img src="{{ asset('build/images/soup.jpg') }}">
                    <h4 class="link-head">Créez un compte !</h4>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
