<div id="topMenu">
    <a href="{{ path('home') }}">
        <h1>Au tracteur </h1>
    </a>
    <div>
        <a class="btn" href="{{ path('home') }}">
            <i class="fas fa-home"></i>
        </a>
        <a class="btn" href="{{ path('findFarm') }}">
            <i class="fas fa-search"></i><i class="fas fa-tractor"></i>
        </a>
        <a class="btn" href="{{ path('findProduct') }}">
            <i class="fas fa-search"></i><i class="fas fa-apple-alt"></i>
        </a>
        {% if app.user %}
            <a class="btn" href="{{ path('findMission') }}">
                <i class="fas fa-search"><i class="fas fa-hands-helping"></i></i>
            </a>
            {% if app.user.isProducer %}
                {% if app.user.getFarmOwned|length %}
                    <a class="btn" href="{{ path('myFarm') }}">
                        <i class="fas fa-tractor"></i>
                    </a>
                {% else %}
                    <a class="btn" href="{{ path('newFarm') }}">
                        <i class="fas fa-plus-circle"></i> <i class="fas fa-tractor"></i>
                    </a>
                {% endif %}
            {% endif %}
            <a class="btn" href="{{ path('myProfile') }}">
                <i class="fas fa-user"></i>
            </a>
            <a class="btn" href="{{ path('app_logout') }}">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        {% else %}
            <a class="btn" href="{{ path('app_login') }}">
                <i class="fas fa-sign-in-alt"></i> Connexion
            </a>
            <a class="btn" href="{{ path('app_register') }}">
                <i class="fas fa-user-plus"></i> Créer un compte
            </a>
        {% endif %}


    </div>
</div>
