#deleteFarmModal {
  position: fixed;
  z-index: 2;
  background-color: $light-color;
  border-radius: 5px;
  border: $base-color 2px solid;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  top: 15vh;
  bottom: 15vh;
  left: 25vW;
  right: 25vW;
  padding: 30px;
}
