@import "variable";
.checkbox-group {
  position: relative;
  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    /* Cache la checkbox sans
       la rendre invisible aux
       lecteurs d'écran */
    position: absolute;
    left: 0;
    opacity: 0.01;
  }

  /* Preparer le label */
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative; /* permet de positionner la checkbox */
    padding-left: 2.3em; /* place pour la box */
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
  }
  /* Aspect de la case */
  [type="checkbox"]:not(:checked) + label::before,
  [type="checkbox"]:checked + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 25px;
    height: 25px;
    border: 3px solid $base-color;
    background: white;
    border-radius: 3px;
    transition: all .275s;
  }

  /* Aspect de la coche */
  [type="checkbox"]:not(:checked) + label::after,
  [type="checkbox"]:checked + label::after {
    content: '✕';
    speak: never; /* Pour être sûr que le lecteur d'écran ne lira pas "fois" */
    position: absolute;
    top: 20px;
    left: 4px;
    font-size: 1.8em;
    color: $base-color;
    line-height: 0;
    transition: all .2s; /* Petite transition */
  }

  /* Aspect non cochée */
  [type="checkbox"]:not(:checked) + label::after {
    opacity: 0;
    transform: scale(0) rotate(45deg);
  }

  /* Aspect cochée */
  [type="checkbox"]:checked + label::after {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}
label {
  width: 100%;
  display: block;
  padding-top: 5px;
  margin: 10px 0 3px 25px;
}
select {
  padding: 15px;
  border: 3px solid $base-color;
  width: 32%;
  outline: none;
  background-color: white;
}
input, textarea, .input {
  padding: 15px;
  border: 3px solid $base-color;
  width: 90%;
  outline: none;
}
input, select {
  border-radius: 100px;
}
textarea {
  border-radius: 28px;
}
form {
  background-color: $light-color;
  border-radius: 40px;
  width: 80%;
  margin: 50px auto;
  padding: 40px;

  h2 {
    text-align: center;
    margin: 0;
    font-size: 3em;
    color: $base-color;
  }
}
input, textarea, .input {
  &:focus {
    background-color: darken($light-color, 10);
  }
}
.input-group {
  > * {
    display: block;
  }
}
.file-input-group {
  input {
    display: inline-block;
    margin: 10px;
    border-radius: 60px;
    border: 2px solid $base-color;
    background-color: $base-color;
    font-size: 1em;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    transition: color 0.5s ease, background-color 0.5s ease;
  }
}
.tractorContainer {
  position: relative;
}
svg.tracteur {
  width: 65%;
}
svg.bulle {
  right: 0;
  width: 100%;
}
.error-txt {
  position: absolute;
  top: 32%;
  width: 70%;
  left: 40px;
  color: #e1efe6;
}
.form-error-bloc {
  position: absolute;
  right: 0;
  top: -60%;
}
