@import "variable";

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3em;
  font-family: 'Special Elite', cursive;
}

h2, h3, h4, h5, p, div, button, input, a, label {
  font-family: 'PT Sans', sans-serif;
  color: black;
  margin: 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin: 25px 0;
}

h4 {
  font-size: 1.1em;
}
p {
  font-size: 0.9em;
  line-height: 1.4;
}
a {
  text-decoration: none;
  outline: none;
  transition: all 0.5s ease;
}

.headerPadding {
  padding-top: 50px;
}

.mt {
  margin-top: 80px !important;
}

.mb {
  margin-bottom: 40px;
}
.padding {
  box-sizing: border-box;
  padding: 30px;
}
.ctn {
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.light {
  color: grey;
}
.btn {
  display: inline-block;
  margin: 10px;
  border-radius: 60px;
  border: 2px solid $base-color;
  background-color: $base-color;
  font-size: 1em;
  padding: 10px 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: color 0.5s ease, background-color 0.5s ease;
  &:hover {
    a {
      color: $base-color;
    }
    background-color: lighten($light-color, 50);
    color: $base-color;
  }
}
.bold {
  font-weight: bold;
}
.img-fluid {
  min-width: 100%;
  height: auto;
}

.bg-dark {
  background-color: $base-color;
}

.bg-light {
  background-color: $light-color;
}

.txt-white {
  color: white;
}
.txt-center {
  text-align: center;
}
.hide{
  visibility: hidden;
}
.flex {
  display: flex;
}
.flexRow{
  flex-direction: row;
}
.flexColumn {
  flex-direction: column;
}
.justifyCenter {
  justify-content: center;
}
.justifySpaceBetween {
  justify-content: space-between;
}
.justifySpaceAround {
  justify-content: space-around;
}
.alignCenter {
  align-items: center;
}
.bdRad {
  border-radius: 5px;
}
.masonry-card-3 {
  column-count: 1;
  column-gap: 1em;
}
.masonry-card-4 {
  column-count: 1;
  column-gap: 1em;
}
@media (min-width: 720px) {
  .masonry-card-3 {
    column-count: 2;
  }
  .masonry-card-4 {
    column-count: 2;
  }
}
@media (min-width: 1200px) {
  .masonry-card-3 {
    column-count: 3;
  }
  .masonry-card-4 {
    column-count: 4;
  }
}
.card-ctn {
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(0,0,0,.125);
  box-shadow: 0px 10px 20px -5px #656565;
  border-radius: .25rem;
  background-color: #ffffff;
  margin: 0 0 1em;
  &.disabled {
    border: none;
    background-color: #b7b7b7;
    .card {
      h4, p {
        color: #535160;
      }
    }
  }
}
.card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 15px;
  word-wrap: break-word;
  background-clip: border-box;
  h3 {
    margin: 0;
  }
  img {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  div {
    flex: 1 1 auto;
    min-height: 1px;
  }
}
.icon {
  height: 30px;
  width: 30px;
}
#topMenu {
  box-sizing: border-box;
  position: fixed;
  background-color: rgba(225, 239, 230, 1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
  h1 {
    font-size: 1.5em;
    font-family: 'Special Elite', cursive;
    color: $base-color;
  }
}

#footer {
  height: 20vh;
  background-color: $base-color;
  border-top: solid 2px $light-color;
}

#left-window {
  padding: 20px;
  margin: 0;
  min-height: 100vh;
  height: 100%;
  > img {
    border-radius: 5px;
    margin-top: 80px;
  }
  > div {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
}
