img {
  max-width: 100%;
}

.section {
  padding: 150px 0;
}

.split {
  margin: -60px 0 -20px 0;
}

#blockHead {
  min-height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 100px;
  background-color: black;
  background: url("../img/vegetables/home-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#blocLinks {
  background-color: $light-color;
  padding: 100px 50px;
  .link > a > img {
    filter: brightness(60%);
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0px 0px 24px 5px rgba(0,0,0,0.65);
      filter: brightness(40%);
    }
  }
  .link-head {
    position: absolute;
    top: 10px;
    with: 100%;
    color: white;
    margin-left: 10px;
  }
}

.link {
  cursor: pointer;
}

.strong {
  font-size: 2.5em;
  color: $base-color;
  font-weight: bold;
  line-height: 1.5em;
}
