#deleteProfileModal {
  position: fixed;
  z-index: 2;
  background-color: $light-color;
  border-radius: 5px;
  border: $base-color 2px solid;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  top: 17vh;
  bottom: 25vh;
  left: 25vW;
  right: 25vW;
  padding: 30px;
}
.favBloc {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding: 0 20px;
  box-sizing: border-box;
}
