{% extends 'base.html.twig' %}

{% block title %}Au tracteur | Trouver un des produits{% endblock %}

{% block body %}
    <div class="bg-light headerPadding">
        <div class="ctn">
            <h2 class="txt-center padding">Mates moi ces beaux produits !</h2>
            <div class="masonry-card-4">
                {% for product in products %}
                    {% include 'product/productCard.html.twig'  %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
