{% extends 'base.html.twig' %}

{% block title %}Au tracteur | Produit{% endblock %}

{% block body %}
    <div class="bg-dark headerPadding">
        <div class="row ctn">
            <div class="col-6 flex flexColumn alignCenter">
                {{ form_start(form) }}
                {% if app.request.attributes.get('_route') == 'editProduct' %}
                    <h2>Modifier un produit pour ma ferme</h2>
                {% else %}
                    <h2>Créer un produit pour ma ferme</h2>
                {% endif %}
                <div class="input-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.weight) }}
                    {{ form_widget(form.weight) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="checkbox-group">
                    {{ form_widget(form.availability) }}
                    {{ form_label(form.availability) }}
                </div>
                <div class="file-input-group">
                    {{ form_label(form.pictureFile) }}
                    {{ form_widget(form.pictureFile) }}
                </div>
                <div class="flex flexRow justifyCenter">
                    <a class="btn" href="{{ path('myFarm') }}"><i class="fas fa-times"></i></a>
                    <button class="btn" type="submit"><i class="fas fa-check"></i></button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-6 imgContainer">
                {{ form_errors(form.name) }}
                {{ form_errors(form.weight) }}
                {{ form_errors(form.price) }}
                {{ form_errors(form.description) }}
                {{ form_errors(form.availability) }}
                <img src="">
            </div>
        </div>
    </div>

{% endblock %}
