<div class="card-ctn">
    <div class="card">
        <img src="{{ vich_uploader_asset( product, 'pictureFile' )}}">
            <h4 class="txt-center">
                {{ product.name }}
            </h4>
        <hr>
        <p>
            {{ product.description }}
        </p>
        <p>
            {% if product.weight %}
                <span class="bold">Poids :</span> {{ product.weight }}
                <br>
            {% endif %}
            {% if product.price %}
                <span class="bold">Prix : </span>{{ product.price | number_format(2, ',')  }} €
            {% endif %}
        </p>
        {% if app.request.get('_route') != 'farm'%}
            <div class="flex justifyCenter">
                <a href="{{ path('farm', { 'id': product.farm.id}) }}" class="btn">
                    <i class="fas fa-tractor"></i>
                </a>
            </div>
        {% endif %}
    </div>
</div>
