{% extends 'base.html.twig' %}

{% block title %}Au tracteur | Trouver une mission{% endblock %}

{% block body %}
    <div class="bg-light headerPadding">
        <div class="ctn">
            <h2 class="txt-center padding">Trouves dont une mission par là !</h2>
            <div class="masonry-card-4">
                {% for mission in missions %}
                    {% include 'mission/missionCard.html.twig'  %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
