{% extends 'base.html.twig' %}

{% block title %}Au tracteur | {{ mission.name }}!{% endblock %}

{% block body %}
    <div class="row bg-dark missionPage">
        <div class="col-6 mt">
            <div class="bg-light padding">
                <h2 class="center">{{ mission.name }}</h2>
                <hr>
                <p>Date de début : {{ mission.startingDate | date("d/m/Y") }}</p>
                <p>Date de fin : {{ mission.endingDate | date("d/m/Y") }}</p>
                {% if mission.minimumHelpTime | length >0 %}
                    {{ mission.minimumHelpTime}}
                {% endif %}
                <hr>
                <p>
                    {{ mission.description }}
                    <br>
                    {{ mission.rewarding }}
                </p>
                <p>
                    Adresse :
                    <br>
                    {{ mission.farm.address }}
                    <br>
                    {{ mission.farm.postCode }}
                    <br>
                    {{ mission.farm.city }}
                </p>
                {% if isUserLikeThisMission(mission, app.user)%}
                    <a class="btn" href="{{ path('removeFavoriteMission', { 'id': mission.id }) }}"> <i class="fas fa-heart-broken"></i></a>
                {% else %}
                    <a class="btn" href="{{ path('addFavoriteMission', { 'id': mission.id }) }}"> <i class="fas fa-heart"></i></a>
                {% endif %}
                {% if isUserSignForThisMission(mission, app.user)%}
                    <a class="btn" href="{{ path('unSignMission', { 'id': mission.id }) }}"> <i class="fas fa-handshake-alt-slash"></i></a>
                {% else %}
                    <a class="btn" href="{{ path('signInMission', { 'id': mission.id }) }}"> <i class="fas fa-hands-helping"></i></a>
                {% endif %}
                <a href="{{ path('farm', { 'id': mission.farm.id}) }}" class="btn">
                   <i class="fas fa-tractor"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
