{% extends 'base.html.twig' %}

{% block title %}Au tracteur | Mission{% endblock %}

{% block body %}
    <div class="bg-dark headerPadding">
        <div class="row ctn">
            <div class="col-6 flex flexColumn alignCenter">
                {{ form_start(form) }}
                {% if app.request.attributes.get('_route') == 'editMission' %}
                    <h2>Modifier une mission pour ma ferme</h2>
                {% else %}
                    <h2>Créer une mission pour ma ferme</h2>
                {% endif %}
                <div class="input-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.startingDate) }}
                    {{ form_widget(form.startingDate) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.endingDate) }}
                    {{ form_widget(form.endingDate) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.minimumHelpTime) }}
                    {{ form_widget(form.minimumHelpTime) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.rewarding) }}
                    {{ form_widget(form.rewarding) }}
                </div>
                <div class="flex flexRow justifyCenter">
                    <a class="btn" href="{{ path('myFarm') }}"><i class="fas fa-times"></i></a>
                    <button class="btn" type="submit"><i class="fas fa-check"></i></button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-6 imgContainer">

                {{ form_errors(form.name) }}
                {{ form_errors(form.startingDate) }}
                {{ form_errors(form.endingDate) }}
                {{ form_errors(form.minimumHelpTime) }}
                {{ form_errors(form.description) }}
                {{ form_errors(form.rewarding) }}
                <img src="">
            </div>
        </div>
    </div>

{% endblock %}
