<div class="card-ctn">
    <div class="card">
        <a href="{{ path('mission', { 'id': mission.id }) }}">
            <h4 class="txt-center">
                {{ mission.name }}
            </h4>
        </a>
        <hr>
        <a href="{{ path('farm', { 'id': mission.Farm.id}) }}">
            <p>Pour {{ mission.Farm.name }}</p>
        </a>
        <hr>
        <p>
            <span class="bold">Début :</span> {{ mission.startingDate | date("d/m/Y") }}
            <br>
            <span class="bold">Fin :</span> {{ mission.startingDate | date("d/m/Y") }}
        </p>
        {% if mission.minimumHelpTime %}
            <hr>
            <p>
                <span class="bold">Temps minimum d'aide :</span> {{ mission.minimumHelpTime }}
                <br>
                <span class="bold">Fin :</span> {{ mission.startingDate | date("d/m/Y") }}
            </p>
        {% endif %}
        <div class="flex flexRow justifyCenter">
            {% if isUserLikeThisMission(mission, app.user)%}
                <a class="btn" href="{{ path('removeFavoriteMission', { 'id': mission.id }) }}"> <i class="fas fa-heart-broken"></i></a>
            {% else %}
                <a class="btn" href="{{ path('addFavoriteMission', { 'id': mission.id }) }}"> <i class="fas fa-heart"></i></a>
            {% endif %}
            {% if isUserSignForThisMission(mission, app.user)%}
                <a class="btn" href="{{ path('unSignMission', { 'id': mission.id }) }}"> <i class="fas fa-handshake-alt-slash"></i></a>
            {% else %}
                <a class="btn" href="{{ path('signInMission', { 'id': mission.id }) }}"> <i class="fas fa-hands-helping"></i></a>
            {% endif %}
        </div>
    </div>
</div>
