{% extends 'base.html.twig' %}

{% block title %}Au tracteur | Ajouter un établissement{% endblock %}

{% block body %}
    <div class="bg-dark headerPadding">
        <div class="row ctn">
            <div class="col-6 flex flexColumn alignCenter">
                {{ form_start(form) }}
                <h2>Créer ma ferme</h2>
                <div class="input-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.corporateName) }}
                    {{ form_widget(form.corporateName) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.siret) }}
                    {{ form_widget(form.siret) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.postCode) }}
                    {{ form_widget(form.postCode) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                <div class="file-input-group">
                    {{ form_label(form.farmPicture) }}
                    {{ form_widget(form.farmPicture) }}
                </div>
                <div class="flex flexRow justifyCenter">
                    <a class="btn" href="{{ path('myFarm') }}"><i class="fas fa-times"></i></a>
                    <button class="btn" type="submit"><i class="fas fa-plus"></i></button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-6 tractorContainer">
                <svg class="tracteur hidden-sm" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 449.32 304.34">
                    <path d="M274.68,212.82c-8.8-.83-43.2-1.64-59.89,30.44s-21.6,115.52,3,145.3,76.25,21.6,84.1,19.31,34-34,34.69-53,6.55-74.61-14.4-106.36S285.15,213.8,274.68,212.82Z" transform="translate(-199.29 -146.65)" style="fill:none;stroke:#e1f0e6;stroke-miterlimit:10;stroke-width:3px"/>
                    <path d="M236.72,251.44c-10.61,6.75-23.57,38.61-18,75.27s15.71,62.18,34.69,59.89,33-20.62,34.69-49.42-3-70.69-21.6-84.11S240.32,249.15,236.72,251.44Z" transform="translate(-199.29 -146.65)" style="fill:none;stroke:#e1f0e6;stroke-miterlimit:10;stroke-width:3px"/>
                    <path d="M407.55,226.24c-5.65,0-19,.65-20.29,8.18s-1,11.78-.65,18,0,19.31-.66,21.93-28.47-.66-37.31-2a36.11,36.11,0,0,0-16,1.31L330,307.4s8.84,21.6,12.44,21.6,15.38,4.25,27.49-1.64,42.54-5.56,51.38-6.54,84.11,3.93,97.52,4.91,65.78,4.58,69.06,6.22,28.47,1.3,28.47-.66v-18s-7.53-2-7.53-4.58,9.49-71.67,8.51-75.93,0-9.82-8.51-12.76-49.74-6.55-60.21-6.55H532.24s3.93-40.58,3.93-41.56-4.58-3.27-4.58-3.27,3.6-14.07.65-14.73-13.42-10.14-14.4-3.27,6.55,3.27,6.22,8.18S520.13,169,520.13,169s-4.25,1-4.58,7.2-2.62,36.65-2.29,37.3-52-.32-56.29,0-2.62,13.75-5.56,10.48S408.86,226.24,407.55,226.24Z" transform="translate(-199.29 -146.65)" style="fill:none;stroke:#e1f0e6;stroke-miterlimit:10;stroke-width:3px"/>
                    <path d="M329,199.4c-5.85,2.34-16.37-2-12.44,6.55s5.89,14.07,16.36,17,9.17,8.84,18,8.84,20.95,1.31,23.24-2.62,13.42-4.91,0-10.14-2.62-8.18-14.4-12.77S332.28,198.09,329,199.4Z" transform="translate(-199.29 -146.65)" style="fill:none;stroke:#e1f0e6;stroke-miterlimit:10;stroke-width:3px"/>
                    <path d="M386,172.32c-8.08,3.26-17.67,15.71-15.05,23.57s9.16,22.25,20.29,22.58,26.84-18,22.91-25.86S404.67,164.8,386,172.32Z" transform="translate(-199.29 -146.65)" style="fill:none;stroke:#e1f0e6;stroke-miterlimit:10;stroke-width:3px"/>
                    <path d="M337.19,228.86c-11.78,0-19,4.9.65,6.87s12.77,5.56-4.25,6.54-5.56.66,8.18,6.55,19.64,4.25,8.84,8.84-16.37,1.3-10.48,5.89,11.46,8.18,7.86,11.12" transform="translate(-199.29 -146.65)" style="fill:none;stroke:#e1f0e6;stroke-miterlimit:10;stroke-width:3px"/>
                    <path d="M378.1,325.4a4.59,4.59,0,0,0,.32,1.75c2.38,6.8,17.3,22.8,29.79,29.34,13.74,7.2,31.41,8.51,46.14.33s19-9.17,23.56-18.66,10.48-23.23,1.64-27.49S378.1,325.4,378.1,325.4Z" transform="translate(-199.29 -146.65)" style="fill:none;stroke:#e1f0e6;stroke-miterlimit:10;stroke-width:3px"/>
                    <path d="M570.86,342.75c-11.1-1.29-33.38.32-41.89,20.61s-4.91,38-.66,50.73S547,448.45,572.5,449.44s49.74-10.15,51-41.24S602,346.35,570.86,342.75Z" transform="translate(-199.29 -146.65)" style="fill:none;stroke:#e1f0e6;stroke-miterlimit:10;stroke-width:3px"/>
                    <path d="M622.24,338.49C612,335.93,581,328,573.15,333.25s-15,9.5-15,9.5L619,403.62s3.93,26.83,10.14,23.56,18-17.67,18-32.07-2.29-33.06-10.14-43.86S635.33,341.76,622.24,338.49Z" transform="translate(-199.29 -146.65)" style="fill:none;stroke:#e1f0e6;stroke-miterlimit:10;stroke-width:3px"/>
                </svg>
                {% if not form.vars.valid %}
                <div id='form-error-bloc' class="form-error-bloc">
                    {% else %}
                    <div id='form-error-bloc' class="form-error-bloc hide">
                        {% endif %}
                        <svg class="bulle" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 337.84 297.22">
                            <path d="M550.37,453.63l-67.48-40.92s-129.56,3.18-187.52-64.64-54.59-209.29,110-183.36S603.88,242,594.75,283.7,523.57,389,523.57,389Z" transform="translate(-259.77 -160.08)" style="fill:none;stroke:#e1f0e6;stroke-miterlimit:10;stroke-width:3px"/>
                        </svg>
                        <p id="form-error" class="error-txt">
                            {% if not form.vars.valid %}
                                {% for child in form.children %}
                                    {%for error in child.vars.errors%}
                                        {{error.message}}
                                    {%endfor%}
                                {%endfor%}
                            {%endif%}
                        </p>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('farmForm') }}
{% endblock %}
