<div class="card-ctn">
    <div class="card">
            <a href="{{ path('farm', { 'id': farm.id}) }}">
                <h3>
                    {{ farm.name }}
                </h3>
            </a>
            <p>
                {{  farm.description | slice(0, 50) }} ...
            </p>
            <hr>
            <p>
                située à {{ farm.city }}
            </p>
        <div class="flex flexRow justifyCenter">
            <a href="{{ path('farm', { 'id': farm.id}) }}" class="btn">
                <i class="fas fa-id-card"></i>
            </a>
        </div>
    </div>
</div>
