{% extends 'base.html.twig' %}

{% block title %}Au tracteur | {{ farm.name }}{% endblock %}

{% block body %}
    <div class="row bg-dark headerPadding">
        <div class="col-6 mt">
            <div class="bg-light padding bdRad">
                <h2 class="center">{{ farm.name }}</h2>
                <hr>
                <p class="light">Raison sociale : {{ farm.corporateName }}</p>
                <p class="light">N° Siret : {{ farm.siret }}</p>
                <hr>
                <p>{{ farm.description }}</p>
                <hr>
                <p>
                    Adresse : {{ farm.address }}
                    <br>
                    {{ farm.postCode }}
                    <br>
                    {{ farm.city }}
                </p>
                {% if app.user %}
                    <div class="flex flexRow justifyCenter">
                        {% if connectedUserIsAlreadyLikeThisFarm %}
                            <a class="btn" href="{{ path('removeFavoriteFarm', { 'id': farm.id }) }}">
                                <i class="fas fa-heart-broken"></i>
                            </a>
                        {% else %}
                            <a class="btn" href="{{ path('addFavoriteFarm', { 'id': farm.id }) }}">
                                <i class="fas fa-heart"></i>
                            </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-6 mt">
            <img class="bdRad" src="{{ vich_uploader_asset( farm, 'farmPicture' )}}">
        </div>
        <div class="col-12">
            {% if app.user and farm.missions |length >=1 %}
                <h3 class="txt-center txt-white">
                    Missions de la ferme
                </h3>
                <div class="masonry-card-4">
                    {% for mission in farm.missions %}
                        {% include 'mission/missionCard.html.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-12">
            {% if farm.products |length >=1 %}
                <h3 class="txt-center txt-white">
                    Produits de la ferme
                </h3>
                <div class="masonry-card-4">
                    {% for product in farm.products %}
                        {% include 'product/productCard.html.twig' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
