{% extends 'base.html.twig' %}

{% block title %}Au tracteur | Trouver une ferme{% endblock %}

{% block body %}
    <div class="bg-light headerPadding">
            <div class="ctn">
                <h2 class="txt-center padding">Trouves dont une ferme par là !</h2>
                <div class="masonry-card-4">
                    {% for farm in farms %}
                        {% include 'farm/farmCard.html.twig'  %}
                    {% endfor %}
                </div>
            </div>
    </div>
{% endblock %}
