{% extends 'base.html.twig' %}

{% block title %}Au tracteur | Mon exploitation{% endblock %}

{% block body %}
    {% if farm  %}
        <div class="row">
            <div id="left-window" class="col-4 bg-dark">
                <img class=" mt" src="{{ vich_uploader_asset( farm, 'farmPicture' ) }}">
                <div class="bg-light">
                    <h2>{{ farm.name }}</h2>
                    <p class="light">Raison sociale : {{ farm.corporateName }}</p>
                    <p class="light">N° Siret : {{ farm.siret }}</p>
                    <hr>
                    <p>{{ farm.description }}</p>
                    <hr>
                    <p>
                        Adresse : {{ farm.address }}
                        <br>
                        {{ farm.postCode }}
                        <br>
                        {{ farm.city }}
                    </p>
                    <a class="btn" href="{{ path('editFarm', { 'id': farm.id }) }}"><i class="fas fa-pen"></i><i class="fas fa-tractor"></i></a>
                    <a class="btn" href="{{ path('newMission') }}"><i class="fas fa-plus"></i> mission</a>
                    <a class="btn" href="{{ path('newProduct') }}"><i class="fas fa-plus"></i> produit</a>
                    <button id="deleteFarmBtn" class="btn"><i class="fas fa-tractor"></i><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
            <div class="col-8 mt">
                <h3>Les missions de ma ferme</h3>
                {% if farm.missions |length >=1 %}
                    <div class="masonry-card-3">
                        {% for mission in farm.missions %}
                            {% include 'mission/missionCard.html.twig' %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p>
                        T'as pas encore demandé de l'aide à la ferme, hésites plus hein crée une mission !
                    </p>
                    <a class="btn" href="{{ path('newMission') }}"><i class="fas fa-plus"></i> mission</a>
                {% endif %}
                <h3>Les produits de ma ferme</h3>
                {% if farm.products |length >=1 %}
                    <div class="masonry-card-3">
                        {% for product in farm.products %}
                            {% include 'product/productCard.html.twig' %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p>
                        Dis-y voir ce que tu fait de bon dans ton exploitation...
                    </p>
                    <a class="btn" href="{{ path('newProduct') }}"><i class="fas fa-plus"></i> produit</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div id="profil-window" class="col-4 bg-dark mt">

            </div>
            <div class="col-6 mt">
                <h2 class="mt">Vous n'avez pas encore enregistré votre ferme</h2>
                <a class="btn" href="{{ path('newFarm') }}">Faites le par là !</a>
            </div>
        </div>
    {% endif %}

    <div id="deleteFarmModal" class="hide">
        <h4>Ben mon pt'i, t'es bien sur que veux supprimer ta ferme ?</h4>
        <div class="flex flexRow justifyCenter">
            <button id="closeModal" class="btn"><i class="fas fa-times"></i> Oups non non j'ai mal cliqué !</button>
            <a class="btn" href="{{ path('deleteFarm', { 'id': farm.id }) }}"><i class="fas fa-trash-tractor"></i><i class="fas fa-trash-alt"></i> Elle a fermé je te dis !</a>
        </div>
    </div>
{% endblock %}
