{% extends 'base.html.twig' %}

{% block title %}Au tracteur | Modifier mes informations{% endblock %}

{% block body %}
    <div class="bg-dark headerPadding">
        <div class="row ctn">
            <div class="col-6">
                {{ form_start(form) }}
                <h2>Modifier mon profile</h2>
                <div class="input-group">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.address) }}
                    {{ form_widget(form.address) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.postCode) }}
                    {{ form_widget(form.postCode) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
                <div class="input-group">
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone) }}
                </div>
                <div class="input-group">
                    {{ form_widget(form.plainPassword) }}
                </div>
                <div class="file-input-group">
                    {{ form_label(form.profilePictureFile) }}
                    {{ form_widget(form.profilePictureFile) }}
                </div>
                <div class="checkbox-group">
                    {{ form_widget(form.isProducer) }}
                    {{ form_label(form.isProducer) }}
                </div>
                <div class="flex flexRow justifyCenter">
                    <button class="btn"><a class="txt-white" href="{{ path('myProfile') }}"><i class="fas fa-times"></i></a></button>
                    <button class="btn" type="submit"><i class="fas fa-pen"></i></button>
                </div>

            </div>
            <div class="col-6 imgContainer">
                {{ form_errors(form.firstName) }}
                {{ form_errors(form.lastName) }}
                {{ form_errors(form.address) }}
                {{ form_errors(form.postCode) }}
                {{ form_errors(form.city) }}
                {{ form_errors(form.plainPassword) }}
                {{ form_errors(form.profilePictureFile) }}
                {{ form_end(form) }}
                <img src="">
            </div>
        </div>
    </div>

{% endblock %}
