{% extends 'base.html.twig' %}

{% block title %}Au tracteur | Mon profil{% endblock %}

{% block body %}
    <div class="row">
        <div id="left-window" class="col-4 col-12-sm bg-dark">
            {% set runtimeConfig = {"thumbnail": {"size": [600, 350] }} %}<img src="{{ vich_uploader_asset( app.user, 'profilePictureFile' )}}">
            <div class="bg-light">
                <h2>{{ app.user.firstName }} {{ app.user.lastName }}</h2>
                <p>
                    <span class="bold">Email :</span>
                    <br>
                    {{ app.user.email }}
                </p>
                <p>
                    <span class="bold">Adresse :</span>
                    <br>
                    {{ app.user.address }}
                    <br>
                    {{ app.user.postCode }}
                    <br>
                    {{ app.user.city }}
                </p>
                <p>
                    <span class="bold">Téléphone :</span>
                    <br>
                    0{{ app.user.phone }}
                </p>
                <a class="btn" href="{{ path('modifyProfile') }}"><i class="fas fa-user-edit"></i></a>
                <button id="deleteProfileBtn" class="btn"><i class="fas fa-user"></i><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
        <div class="col-8 mt">
            <h3>Mes fermes favorites</h3>
            {% if app.user.favoriteFarm |length >=1 %}
                <div class="masonry-card-3">
                    {% for farm in app.user.favoriteFarm %}
                        {% include 'farm/farmCard.html.twig' %}
                    {% endfor %}
                </div>
            {% else %}
                <p>
                    Boudiou, c'est que vous avez pas encore de ferme en favorite ?! Aller dont cornifler par là pour en
                    trouver une à votre goût !
                </p>
                <a class="btn" href="{{ path('findFarm') }}">Cornifler</a>
            {% endif %}
            <h3 class="mb">Mes missions</h3>
            {% if app.user.missionSignTo |length >=1 %}
                <div class="row">
                    <h4 class="mb">Je me suis engagé !</h4>
                    <div class="mb masonry-card-3">
                        {% for mission in app.user.missionSignTo %}
                            {% include 'mission/missionCard.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if app.user.favoriteMission |length >=1 %}
                <div class="row">
                    <h4 class="mb">Mes petites favorites</h4>
                    <div class="masonry-card-3">
                        {% for mission in app.user.favoriteMission %}
                            {% include 'mission/missionCard.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>
                    Ben dis, t'as pas trouvé de mission qui t'intéresse ? regarde dont par là !
                </p>
                <a class="btn" href="{{ path('findMission') }}">Chercher une mission</a>
            {% endif %}
        </div>
    </div>
    <div id="deleteProfileModal" class="hide">
        <h4>Ben mon pt'i, t'es bien sur que veux supprimer ton compte ?</h4>
        <div class="flex flexRow justifyCenter">
            <button id="closeModal" class="btn"><i class="fas fa-times"></i> Oups non non j'ai mal cliqué !</button>
            <a class="btn" href="{{ path('deleteProfile') }}"><i class="fas fa-trash-user"></i><i class="fas fa-trash-alt"></i> Bien vrai ! Supprime z'y</a>
        </div>
    </div>
{% endblock %}
